body {
   font-family: sans-serif;
   color: #292F33;
   background-color: #E1E8ED;
   padding: 0;
   margin: 0;
}

#intro {
   text-align: center;
   height: 400px;
   padding-top: 100px;
}

.button {
   background-color: white;
   font-size: 24px;
   margin: 10px;
   padding: 5px;
   text-decoration: none;
   height: 30px;
   width: 200px;
   display: inline-block;
   border: solid black thin;
   color: black;
}

#logo {
   height: 50px;
   color: #E1E8ED;
   border-bottom: solid black thin;
   text-align: center;
   margin-bottom: 10px;
   font-size: 36px;
   background-color: #292F33;
}

#menu {
   text-align: center;
   font-size: 22px;
   font-weight: bold;
   margin: 10px;
   font-variant: small-caps;
}

#menu a {
   color : #55ACEE;
}

#footer {
   height: 50px;
   border-top: solid black thin;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 14px;
}


#panel {
   background-color: #CCD6DD;
   font-size: 24px;
   margin: 0 auto;
   margin-top: 50px;
   margin-bottom: 50px;
   padding: 15px;
   text-decoration: none;
   width: 500px;
   border: solid black thin;
   color: black;
   border-radius: 15px;
}

#panel .button {
   font-size: 18px;
   height: 35px;
   min-width: 100px;
   padding: 5px;
   padding-top: 10px;
}

.send{
   background-color: #55ACEE;
}

#panel footer {
   text-align: center;
}

.input-text {
   background-color: #ffffff;
   font-size: 14px;
   border: solid black thin;
   height: 30px;
   width: 485px;
   padding: 5px;
   margin-top: 10px;
   margin-bottom: 20px;
}

.error {
   margin: 0 auto;
   border: solid #FE2712 thin;
   background-color: #F7D7D4;
   padding: 5px;
   margin-bottom: 20px;
}
